<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Watched Movies</h1>
  <% if (user) { %>
   
  
  <div class="movies">
    <% movies.forEach(movie => { %>
      <div class="movieCard">
        <div class="image"><img src="<%= movie.posterSmall %>" alt=""></div>
        <div class="info">
          <div class="text">
            <p><span>Title: </span><%= movie.title %></p>
            <p><span>Released: </span><%= movie.releaseDate.toLocaleDateString() %></p>
          </div>
          <div class="actions">
            <a href="/movies/<%= movie._id %>"><button>DETAILS</button></a>


            <% if (movie.postedBy.equals(user?.profile._id)) { %>
             
              
              <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
              </form>
              
              
            <% } %>

          </div>
        </div>
      </div>
      <% }) %>
  </div>
  <% } %>
</main>

<%- include('../partials/footer') %>