<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <div class="container">

    <div class="image">
      <div>
        <img src="https://image.tmdb.org/t/p/w342/<%= selectedMovieData['poster_path'] %>" alt="movie poster">
      </div>
      <div class="actions">
        <form id="" action="/movies/<%= selectedMovieData.id %>" method="POST">
          <button type="submit">Add to Watched</button>
        </form>
        <form id="" action="" method="POST">
          <button type="submit">Add to To Watch</button>
        </form>
      </div>
    </div>

    <div class="info">
      <div>
        <label for="">Release Date:</label>
        <p> <%= selectedMovieData['release_date'] %></p>
      </div>

      <div>
        <label for="">Genre(s):</label>
        <% selectedMovieData.genres.forEach(element => { %>
          <p class="item"><%= element.name %></p>
        <% }) %>
      </div>

      <div>
        <label for="">Plot:</label>
        <p><%= selectedMovieData.overview %></p>
      </div>

      <div>
        <label for="">Director(s):</label>
        
        <% selectedMovieData.credits.crew.forEach(element => { %>
          <% if (element.job === 'Director') { %>
            <p class="item"><%= element.name %></p>
          <% } %>  
        <% }) %>
          
      </div>

      <div>
        <label for="">Performer(s):</label>
        <% selectedMovieData.credits.cast.forEach(element => { %>
          <p class="item"><%= element.name %></p>
        <% }) %>
      </div>

    </div>
  </div>
</main>

<%- include("../partials/footer") %>