<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <form action="/movies" method="POST">
    <label for="title-input" ></label>
    <input type="text" name="movieTitle" autocomplete="off" placeholder="The Wiggles Movie">
    <button type="submit">Search Movie</button>
  </form>


  <% if (results) { %>
    <% results.forEach(result => { %>
      <div class="movieSearchCard">
        <h1><%= result['original_title'] %></h1>
        <p>Released: <%= result['release_date'] %></p>
        <img src="https://image.tmdb.org/t/p/w154/<%= result['poster_path'] %>" alt="movie poster">
      </div>
    <% }) %>
  <% } %>


</main>

<%- include("../partials/footer") %>