<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/searchResults.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Search Results</h1>
  <% if (results) { %>
    <% results.forEach(result => { %>
      <div class="movieCard">
        <div class="image">
          <img src="https://image.tmdb.org/t/p/w154/<%= result['poster_path'] %>" alt="movie poster">
        </div>
        <div class="info">
          <div class="movieDetails">
            <h1><%= result['original_title'] %></h1>
            <p><span>Released:</span> <%= result['release_date'] %></p>
          </div>
          <div class="button">
            <form action="/movies/new/<%= result.id %>" method="GET">
              <button type="submit">Select</button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>


</main>

<%- include("../partials/footer") %>